;
; vim:ft=clojure:ts=2
;

(instrumentation {:interval 1 :enabled? true})
(periodically-expire 30)
(tcp-server {:host "0.0.0.0"})
(ws-server {:host "0.0.0.0"})
(let [fw-backend (batch 100 1/10
                   (async-queue! :fw-backend {:queue-size 1e2 :core-pool-size 1 :max-pool-size 2}
                     (forward (riemann.client/tcp-client :host "backend"))))
      fw-dashboard (batch 100 1/10
                     (async-queue! :fw-dashboard {:queue-size 1e2 :core-pool-size 1 :max-pool-size 2}
                       (forward (riemann.client/tcp-client :host "dashboard"))))
      index (default {:state "ok" :ttl 60} (tap :index (index)))]
  (streams
    index
    fw-backend
    ;fw-dashboard
    ))
    
; eof

